body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  * {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }

  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  header {
    height: 65px;
    width: 100%;
    background-color: rgba(196, 69, 105,1.0);
    position:fixed;
    top:0px;
    z-index:10;
  }
  
  .menu-icon {
    display:none;
    float:right;
    color:white;
    font-size: 25px;
    padding: 21px 0;
  }
  .logo {
    width: 124px;
    margin-top: 5px;
    margin-left:0px;
    height: 60px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }

  .main_1 {
    padding: 180px 0 100px 0;
    background-image:url(https://imgur.com/ifhtD6Q.jpg);
    background-size:cover;
    text-align: center;
    
  }

  .contents {
    max-width: 700px;
    margin: 0 auto;
    background-color:#e66767;
  }

  .intro {
    padding-top:10px;
    color:white;
  }

  .intro h1 {
    font-size:60px;
    letter-spacing: 3px;
  }
  
  .intro p {
    letter-spacing: 1px;
  }
  .button-wrapper {
    text-align: center;
  }

  .button {   
    margin: 20px 10px; 
    padding: 12px 24px;
    display: inline-block;
    opacity: 0.7;
    color:white;
  }

  .button:active {
    position: relative;
    top: 10px;
    box-shadow: none;
    background-color:#546de5 ;
  }

  .signup {
    background-color: #596275;
    font-weight: normal;
    box-shadow: 0px 10px #303952;
  }

  .signin {
    background-color: #596275;
    box-shadow: 0px 10px #303952;
  }

  .button:hover {
    background-color: #574b90;
    opacity: 1;
  }


  footer img {
    width: 125px;
  }
  
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    border-top: 1px solid #eee;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .form-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .form {
    padding: 15px 40px;
    background-color:rgba(120, 111, 166,1.0);
    cursor: pointer;
    box-shadow: 0 7px rgba(87, 75, 144,1.0);
    color:white;
  }
  
  .form:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  input, textarea {
    width:400px;
    margin-bottom:30px;
    padding:20px;
    font-size:18px;
    border:1px solid #dee7ec;
  }

  .form-submit {
    background-color:rgba(120, 111, 166,1.0);
    color:white;
  }

  .form-body p {
      padding-top: 30px;
  }